.beforeAfterWrapper .theBefore, .beforeAfterWrapper .theAfter {
  height: 85vh; }
.beforeAfterWrapper .theAfter {
  position: absolute;
  top: 0px;
  left: -250%;
  bottom: 0px;
  overflow-x: hidden; }
.beforeAfterWrapper img {
  width: 100%; }
.beforeAfterWrapper .showSelectedRoomThumbs {
  height: 15vh;
  padding: 10px; }
  .beforeAfterWrapper .showSelectedRoomThumbs .lslide {
    padding: 10px;
    overflow: hidden; }
    .beforeAfterWrapper .showSelectedRoomThumbs .lslide img {
      width: 90%; }

.viewRoomThumbDetails {
  color: cream; }

#responsive {
  height: 145px; }

.lSAction > .lSPrev {
  left: 15px; }

.lSAction > .lSNext {
  right: 35px; }

.Lslide {
  width: 180px;
  margin-right: 10px; }
